/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* === MAIN PAGE STYLE === */

video {
    width: 100%;
    height: auto;
    margin-top: -850px;
    vertical-align: baseline;
}

#webcam {
  width:100%;
  height:auto;
  cursor: pointer;
}

.snapshot_text {
  text-align: center;
  font-size: 25px;
}

.images_container {
  margin-bottom: 20px;
}
.images_container img#finalImg {
  width: inherit;
}

.images_container .snapshot_row {
  margin: auto 0;
  /*margin-bottom: -60px;*/
}

/*.images_container .snapshot_row .snapshot_btn */

.bottom_buttons .btn {
  font-size: 24px;
  font-weight: bold;
}
.bottom_buttons .save_btn {
  background-color: #27A1C8;
}
.bottom_buttons .try_again_btn {  
  background-color: #5CFFE1;
}

