<div style="width:80vw; visibility: hidden" id="mergeContainer">
        <img id="picture"  src="img/face3.jpg" style="position:absolute;left:0px;top:0px; visibility: hidden">
        <img id="mask" src="img/self.png" style="position:absolute;top:0px;left:0px;width:40vw; visibility: hidden">
    </div>
    
    <canvas id='canvas' width="600" height="600">
    </canvas>

    <canvas id='canvasDemo' width="1000" height="1000" style="visibility: hidden">
    </canvas>

    <!--<div id="my_camera" style="position:absolute;top:0px;left:0px;width:100vw;height:calc(80vw * 0.562);z-index:1000" onClick="take_snapshot()"></div>1-->
   <webcam 
        id="webcam"
        channel="channel" 
        on-streaming="onSuccess()" 
        on-error="onError(err)" 
        on-stream="onStream(stream)"
        style="vertical-align: baseline;"
        ></webcam>

    <input type="button" value="Take HD Snapshot" data-ng-click="makeSnapshot()" style="position:absolute;left:100;top:100;z-index:10000">
  