
<!-- SIDE-NAV -->
<div layout="column">
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    choose the background you want to use:
  </md-sidenav>
  <md-content>
    <md-button ng-click="openLeftMenu()">
      choose background
    </md-button>
  </md-content>
</div>

<div class="container images_container">
    <div class="row">
      <div class="snapshot_text">
        Tap the video to take a picture!
      </div>
    </div>
    <img id="finalImg" ng-show="snapShotHasMade" src="">
    <webcam 
        id="webcam"
        ng-show="!snapShotHasMade"
        ng-click="makeSnapshot()"
        channel="channel" 
        on-streaming="onSuccess()" 
        on-error="onError(err)" 
        on-stream="onStream(stream)">
        <img src="img/target.png" style="position:relative ;width:inherit; height:auto;">
    </webcam>
</div>

<div class="bottom_buttons md-headline" ng-if="snapShotHasMade">
  <div class="row">
    <md-button class="col-md-4 col-md-push-4 btn save_btn" ng-click="uploadToAlbum()" >
      upload to facebook!
    </md-button>
  </div>
  <div class="row">
    <div class="text-center">
      OR
    </div>
  </div>
  <div class="row">  
    <md-button class="col-md-4 col-md-push-4 btn try_again_btn" ng-click="tryAgain()">
      Try again!
    </md-button>
  </div>
</div>






<!-- not visible but NECESSARY -->
<div id="mergeContainer" style="width:80vw; visibility: hidden">
    <img id="picture"  src="img/face3.jpg" style="position:absolute; ;top:0px; left:0px; visibility: hidden">
    <img id="mask" src="img/self.png" style="position:absolute; top:0px; left:0px;width:40vw; visibility: hidden">
</div>

<canvas id='canvas' ng-show="false">
</canvas>