
<!-- SIDE-NAV -->
<div layout="column">
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    choose the background you love the most!
  </md-sidenav>
  <md-content>
    <md-button ng-click="openLeftMenu()">
      choose background
    </md-button>
  </md-content>
<!--
  <md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-right">
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input id="testInput" type="text" ng-model="data" md-autofocus>
      </md-input-container>
    </form>
  </md-sidenav>
-->
</div>

<div class="container">
    <div class="row snapshot_row">
        <div layout="column" layout-fill>
          <md-button ng-click="makeSnapshot()" ng-if="!snapShotHasMade">
            Take a shoot!
          </md-button>
          <md-button ng-click="tryAgain()" ng-if="snapShotHasMade">
            Try again!
          </md-button>
        </div>
    </div>
    <img id="finalImg" ng-show="snapShotHasMade" src="">
    <webcam 
        ng-show="!snapShotHasMade"
        id="webcam"
        channel="channel" 
        on-streaming="onSuccess()" 
        on-error="onError(err)" 
        on-stream="onStream(stream)"
        style="width:100%; height:auto;">
        <img src="img/target.png" style="position:relative ;width:inherit; height:auto;">
    </webcam>
</div>




<!-- NOT VISIBLE but necessary -->
<div id="mergeContainer" style="width:80vw; visibility: hidden">
    <img id="picture"  src="img/face3.jpg" style="position:absolute; ;top:0px; left:0px; visibility: hidden">
    <img id="mask" src="img/self.png" style="position:absolute; top:0px; left:0px;width:40vw; visibility: hidden">
</div>

<canvas id='canvas' ng-show="false">
</canvas>